.task-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-main-text {
    font-size: 24px;
}

.task-card {

}

div#add_task {
    opacity: 10 !important;
}

.task-form {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}