.my-day-tasks-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.my-day-card {

}

.card-main-text {
    font-size: 24px;
}

.task-form {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}