body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 360px;
}

.main-icon-desc {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

@media (max-width: 700px) {
    .main-icon-desc {
        font-size: 20px;
    }
}

.main-side-nav {
    margin-top: 15px;
}

.main-win-col {
    height: 100%;
}